@font-face {
  font-family: 'RingoldLight';
  src: url('../assets/fonts/fonnts.com-Ringold_Sans.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0;
}

a.button {
    text-decoration: none;
}

.button.brand {
    background-color: transparent;
    transition: opacity 300ms;
}

.button.brand:hover {
    opacity: .9;
}

.button.brand img {
    width: 68px;
    height: 68px;
}

.button.cta {
    background-color: var(--primary-red);
    color: var(--primary-white);
    padding: 20px 24px;
    border-radius: 8px;
    font-family: 'RingoldLight', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}