@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(keyframes.css);
@import url(dropdown.css);
@import url(button.css);
@import url(hero.css);
@import url(card.css);
/* responsive screens media imports */
@import url(screens/md.css);
@import url(screens/lg.css);
@import url(screens/xl.css);
/* end responsinve screens media imports */
:root {
    --black: #000;
    --primary-red: #C80F2B;
    --opacity-red: #c80f2b83;
    --primary-white: #fff;
    --secondary-white: #aaa;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: .02em;
}

html {
    overflow: hidden;
}

main {
    position: absolute;
    scroll-behavior: smooth;
    margin-top: 40px;
    height: calc(100vh - 107px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.bg-dark {
    background-image: url('../assets/svg/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.splash {
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 24px;
    display: grid;
    opacity: 0;
    place-items: center;
    transition: all 5ms;
    animation: splash .5s ease-in-out;
}

.splash img {
    max-width: 450px;
    width: 100%;
    margin-top: -8em;
    filter: drop-shadow(0 0 12px red);
}

.hide {
    display: none;
}

.navbar {
    /* max-width: 1280px; */
    background-color: transparent;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 18px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tickets {
    position: relative;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

h1.tickets-heading {
    color: var(--primary-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
}

.mockup:nth-child(odd) {
    background-color: aqua;
}

.mockup:nth-child(even) {
    background-color: burlywood;
}